tornado==4.5.3
jupyterhub==0.9.0
jupyterhub-kubespawner==0.8.1
git+https://github.com/jupyterhub/wrapspawner
jupyterhub-tmpauthenticator==0.5
#oauthenticator
git+https://github.com/jupyter-on-openshift/oauthenticator
jupyterhub-ldapauthenticator==1.2.1
psycopg2==2.7.4
